<div id="<%= dom_id(card) %>" class="mdl-cell mdl-card mdl-shadow--2dp regulars-post-card">
  <div class="mdl-card__title">

  </div>
  <div class="mdl-card__supporting-text regulars-post-card__supporting-text">
    <%=simple_format card.message %>
  </div>
  <div class="mdl-card__actions regulars-post-card__actions">
    <div class="mdl-layout-spacer"></div>
    <% if card.scheduled_publish_time %>
        <div class="regulars-post-card__action">
          <i class="material-icons regulars-post-card__action-icon">schedule</i>
          <span class="regulars-post-card__action-label"><%= time_ago_in_words(card.scheduled_publish_time) %></span>
        </div>
    <% end %>
    <div class="regulars-post-card__action">
      <i class="material-icons regulars-post-card__action-icon">visibility</i>
      <span class="regulars-post-card__action-label"><%= number_with_delimiter(card.reach) %></span>
    </div>
  </div>
  <div class="mdl-card__menu">
    <button id="<%=j dom_id(card, :menu) %>" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">more_vert</i>
    </button>
    <ul for="<%=j dom_id(card, :menu) %>" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
      <li>
        <%= link_to 'Edit', edit_page_post_path(card.page, card), class: 'mdl-menu__item', data: { remote: true } %>
      </li>
      <li>
        <%= link_to 'Delete', page_post_path(card.page, card), class: 'mdl-menu__item', data: { remote: true, method: :delete } %>
      </li>
    </ul>
  </div>
</div>
