<div id="<%= dom_id(card) %>" class="mdl-cell mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">
      <% if card.scheduled_publish_time %>
          in <%= time_ago_in_words(card.scheduled_publish_time) %>
      <% end %>
    </h4>
  </div>
  <div class="mdl-card__supporting-text">
    <%=simple_format card.message %>
  </div>
  <div class="mdl-card__menu">
    <button id="<%=j dom_id(card, :menu) %>" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">more_vert</i>
    </button>
    <ul for="<%=j dom_id(card, :menu) %>" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect">
      <li>
        <%= link_to 'Edit', edit_page_post_path(card.page, card), class: 'mdl-menu__item', data: { remote: true } %>
      </li>
      <li>
        <%= link_to 'Delete', page_post_path(card.page, card), class: 'mdl-menu__item', data: { remote: true, method: :delete } %>
      </li>
    </ul>
  </div>
</div>
